/* google font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap");

/* resize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/* colors */
:root {
  --primaryColor: #ff5400;
  --secondaryColor: rgba(19, 19, 24, 0.5);
  --thirdColor: #5a5a5d;
  --navColor: #424247;
}

/* mobile design starts here */

/* container */
.container {
  margin: 0 5%;
}

/* header design starts here */

/* nav design */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo h2 {
  color: var(--primaryColor);
  font-size: 30px;
}

.fa-bars {
  font-size: 24px;
  position: relative;
}

.fa-bars:hover ~ ul {
  display: block;
}

ul {
  display: none;
  position: absolute;
  right: 5%;
  text-align: right;
}

nav li a {
  color: var(--navColor);
  font-size: 18px;
}

nav li a:hover {
  color: var(--primaryColor);
}

/* header design ends here */

/* main design starts here */

/* explore design */
.explore {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url(./Images/image\(1\).png);
  background-size: cover;
  border-radius: 10px;
  color: white;
  margin: 20px 0;
}

.explore-content {
  padding: 40px 20px;
  text-align: center;
}

.explore-content h1 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
}

.explore-content p {
  font-size: 18px;
  margin-bottom: 36px;
}

.explore-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.explore-content input {
  width: 250px;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 20px 40px;
  margin-bottom: 16px;
  border-radius: 10px;
}

.explore-content button {
  width: 250px;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: var(--primaryColor);
  padding: 20px 40px;
  border-radius: 10px;
}

/* main design ends here */

/* mobile design ends here */

/* laptop design starts here */
@media screen and (min-width: 992px) {
  /* container */
  .container {
    margin: 0 10%;
  }

  /* header design starts here */

  /* nav design */
  .fa-bars {
    display: none;
  }

  ul {
    position: inherit;
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  li a {
    font-size: 30px;
  }

  ul li:nth-child(1) a {
    color: var(--primaryColor);
  }

  /* header design ends here */
}
/* laptop design ends here */
